<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>header}}
        <h1 style="color: red; text-align:center;">WELCOME MY FIRST NODEJS FILE AND HBS </h1>
        <a href="../public/index.html">{{name}}</a>
        <img style="width:100vw;height:100vh;" src="https://images.pexels.com/photos/9697600/pexels-photo-9697600.jpeg?cs=srgb&dl=pexels-hugo-magalhaes-9697600.jpg&fm=jpg">
         
    </body>
    </html>