<!DOCTYPE html>
<html lang="en">
    <head>
       {{>headerlinks}}
    </head>
    <body>
        <h1 style="color: red;text-align:center; margin-top:100px;">404, PAGE NOT FOUND.....!</h1>
       <button class="btn btn-danger m-auto"><a href="index" style="color: #fff; font-size:15px;">Go Back</a> </button>
    </body>
    </html>