<!DOCTYPE html>
<html lang="en">
    <head>
      {{>headerlinks}}
    </head>
    <body>
       {{>navbar}}
        

       <!-- main header -->
       <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                     <!-- main-header-left -->
                     <div class="col-md-6 col-12 main-header-right">
                        <figure>
                            <img src="images/images.jfif" alt="salman" class="imf-fluid" title="khan">
                        </figure> 
                        
                    </div>
                    <!-- main-header-right -->
                    <div class="col-md-6 col-12 main-header-left">
                         <p>Welcome to weather app</p>
                         <h1>I am a <span class="txt-clr">Full Stack Developer</span> And Software Developer.</h1>
                         
                    </div>
                    
                   
                </div>
                </div>
                </div>
                </div>

                <!-- footer code -->

                {{>footer}}
              

    </body>
    </html>